@using CPS.WebUI.Models
@model CPS.WebUI.Models.PackageViewModel

@{
    ViewBag.Title = "Index";
}

<script type="text/javascript" language="javascript">

    $(function () {
        $(".contact-info").hide();
        $("#next").click(function () {
            $(".package-addon").hide();
            $(".contact-info").show();
        }
        );
    });
</script>

@Html.Partial("PartialView/PackageAddOn")
@Html.Partial("PartialView/ContactInfo", new ContactInfoViewModel())


<table class="" style="border-bottom: 0px; width: 754px;" id="export-buttons">				
					<tr>
						<td class="right" style="padding-top: 10px;">
							<a id="back" href="#" class="btn btn-off" style="margin-right: 5px;">Back</a>
							<a id="next" href="#" class="btn btn-off" >Next</a>
						</td>
					</tr>
				</table>